

/* App.css */

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 1rem 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar-logo {
  font-size: 1.5rem;
}

.navbar-menu {
  display: none;
  @media (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.navbar-list {
  list-style: none;
  display: flex;
}

.navbar-item {
  margin: 0 15px;
  cursor: pointer;
}

.navbar-toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  @media (min-width: 768px) {
    display:none;}
  
}
